<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>An Error Occurred: {{ status_text }}</title>
    </head>
    <body>
        <div class="container" style="margin-top:100px">
          <div class="row">
            <div class="col-xs-12">
              Ooops ! Il y a une erreur : "{{ status_code }} {{ status_text }}"
            </div>
          </div>
        </div>
    </body>
</html>