{% extends "OCCoreBundle::layout.html.twig" %}

{% block title %}
  {{parent()}} Contact
{% endblock %}

{% block body %}
  <h2>Bienvenue sur le formulaire de contact</h2>
 
  {% for message in app.session.flashbag.get('info') %}
    <p>Message flash : {{ message }}</p>
  {% endfor %}  
  
  <a href="{{ path('oc_core_home') }}" class="btn btn-default">
    <i class="glyphicon glyphicon-chevron-left"></i>
    Retour à l'accueil
  </a>

{% endblock %}